*{
    padding: 0;
    margin: 0;
}
:root{
    --Yellow: #ffc60c;
    --Black:  #000000;
    --white:   #ffffff;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,
    var(--Black);
}

/*Header e Footer Comeco*/
header{
    background-color: var(--Yellow);
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 460px;
}

header .fa-bars{
    color: var(--Black);
    font-size: 3em;
    display: block;
}

i.fas.fa-bars::before{
    color: black;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container div a{
    margin-left: 2em;
    margin: 0 auto;
}

header .container img{
    width: 20%;
}

#menu{
    position: absolute;
    top: 5.5em;
    width: 100%;
    background-color: var(--Yellow);
    left: 0;
    display: none;
}

#menu ul{
    flex-direction: column;
    height: 200px;
    margin-left: 1em;
    list-style-type: none;
}

#menu a{
    padding: 0.5em 0;
    display: block;
    text-decoration: none;
}


footer{
    background-color:var(--Yellow);
    height: 120px;
}

footer .container{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.Inicio{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.Inicio img{
    width: 32%;
}

.Inicio a{
    font-size: 0.7em;
    color: var(--Black);
}

.meio p{
    color: var(--Black);
    font-size: 0.7em;
}

footer form{
    display: flex;
}

footer form input{
    
    width: 7.3em;
    outline: none;
    border: none;
    margin-right: -5px;
    padding: 1px;
    height: 1em;
}

.botão{
    text-decoration: none;
    color: black;
    border: none;
    padding: 0.68em 2em;
    cursor: pointer;
    height: 1.98em;
    font-size: 8px;
    background-color: #6f6f6f;
}

.sociais{
    display: flex;
    justify-content: space-around;
    background-color: var(--Yellow);
}

footer p{
    text-align: center;
    color: #6f6f6f;
    font-size: 0.5em;
}
.radical img{
    width: 250px;
    height: 330px;
   
}

@media(min-width:800px){
    .container{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    header .fa-bars{
        color: var(--purple);
        font-size: 5em;
        display: block;
    }
}
@media(min-width:1366px){
        .container{
            width: 80%;
            margin: 0 auto;
            max-width: 1200px;
        }

        header .container{
            display: flex;
            padding: 20px 0;
            justify-content: space-between;
            align-items: center;    
        }

        header img{
            width: 20%;
            justify-content: flex-start;
        }

        #menu{
            display: flex;
            position: relative;
            justify-content: space-between;
            background-color: transparent;
            top: 2.5em;
        }

        header #menu ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        flex-flow: wrap;
        }

        #menu a{
            display: flex;
            padding: 4em;
            color: black;
        }
        
        header nav{
            width: 60%;
        }
        
        header .container div{
            display: none;
        }
        
}
/*header e footer completo*/

.comunidade{
    background-color: white;
}

.border-bottom p{
   list-style-type: none;
   text-align: center;
   margin-top: 60px;
   font-size: 20px;
   background-color: white;
}

.border-bottom {
    border-bottom: solid 2px black;
    width: 300px;
    margin: auto;
    align-items: center;
    margin-bottom: 60px;
}

.p.texto{
    margin-bottom: 60px;
    align-items: center;
    margin-bottom: 60px;
}

.bloco input{
    width: 800px;
    height: 300px;
}

.form{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    list-style-type: none;
}

::placeholder{
    text-align: start;
    background-color: white;
}

.bloco{
    border: medium;
}

.border{
    border-bottom: solid 2px black;
    width: 300px;
    margin: auto;
    margin-bottom: 60px;
    background-color: white;
}

p.ecomunidade{
    width: 100%;
    height: 75px;
    justify-content: center;
    text-align: center;
    font-size: large;
    margin-top: 2.5em;
    background-color: white;
}

.radical{
    width: 100%;
    height: auto;
    display: flex;
}

.radical img{
    width: 360px;
    height: 330px;
   
}

.border-bottom{
    border-bottom: medium;
    color: black;
}

hr{
    width: 350px;
    float: left;
    margin-top: -4px;
    color: black;
}

.sociais{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    background-color: white;
   
}

.redes-sociais{
    width: 100%;
    height: 75px;
    justify-content: center;
    background-color: white;
}


.logo_RF{
    justify-content: end;
    width: 4em;
    margin-bottom: 2px;
}
@media(min-width:1366px){
        .bloco input{
        width:1200px ;
}
}
@media(min-width:460px){
    .bloco input{
        width: 420px;
        align-self: center;
        display: flex;
    }
    .radical img{
        width: 100px;
        height: 300px;
    }
}
@media(min-width:800px){
    .bloco input{
        width: 720px;
    }
    .radical img{
        width: 200px;
        height: 350px;
    }
}